@charset "UTF-8";

@media screen and (max-width: 1230px) {
    .navbar {
        position: relative;
    }

    .menu {
        display: none;
    }

    .logo {
        margin: 0;
    }

    .principal {
        padding-top: 2em;
    }

    .headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .headline p {
        max-width: 80%;
    }

    .img-headline img {
        margin: 5%;
        text-align: center;
        width: 50%;
    }

    .logo-rodape p {
        padding: 0em 3em;
    }
}

@media screen and (max-width: 900px) {
    section {
        display: none
    }
}